body{
	background: #212429;
	color: white;

}
div{
	width 1000px;
	margin-left: auto;
	margin-right: auto;
	padding:50px;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
img{
	max-width:  45%;
 	box-shadow: 5px 5px 5px #000000;

}
h1{
	font-size:  60px;
	margin-top: 0;

	text-shadow: 5px 5px 5px #1a0600 ;
}
span{

color: #cc3300;
text-transform: uppercase;
text-shadow: 5px 5px 5px #1a0600 ;

}
p{
	font-size:  20px;
}